
body{
  font-family:"Montserrate";
  text-align: center;
}
p{
  color: #8f8f8f;
}
h1,h2,h3,h4,h5,h6
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900; /* black */
  
}

/*---CONTAINERS---*/
.container-fluid
{
    padding: 7% 15%;
}
/*---HEADINGS--*/
.big-heading
{
  font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
      line-height:1.5;
        font-weight: 900; /* black */
}

/*---SECTIONS---*/
.colourd-section
{
  background-color: #ff4c68;
  color:#fff;
}
.white-section
{
  background-color: #fff;
}


/*--NAVIGATION SECTION--*/
.navbar
{
  padding:0 0 4.5rem;
}
.navbar-brand
{
  font-family:"Ubuntu";
  font-size: 2.5rem;
font-weight: bold;
}
.nav-item
{
  padding: 0 18px;
}
.nav-link
{
  font-family:"montserrate-light" ;
  font-size: 1.4rem;
}

/*-----DOWNLOAD BUTTONS----*/
.download-button
{
  margin:5% 3% 0 5%;
}

/*--TITLE  SECTION---*/

#title .container-fluid
{
  padding: 3% 15% 7%;
  text-align:left;
}


/*--TITLE IMAGE---*/
.title-image
{
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/*--FEATURES SECTIONS--*/
#features
{

 
  position:relative;

}
.features-heading
{
  font-size:large;
}
.feature-box
{
 
  padding: 2%;
  word-spacing:0em;
}
.icon
{
  color: #ef8172;
  font-size:48px;
  margin-bottom: 1rem;
}
.icon:hover
{
  color: #ff4c68;
}

/*----TESTIMONIAL SECTIONS----*/
#testimonials 
{
background-color: #ef8172;
}
.testimonial-heading
{
  font-size: 3.5rem;
   line-height:1.5;
   font-size:45px;
}
.testimonial-image
{
  width: 10%;
border-radius: 100%;
margin: 20px;
}
#press
{
  background-color: #ef8172;
}
#presstle
{
background-color: #ef8172;
padding-bottom:20px;
}
.press-logo
{
width: 15%;
margin: 20px 20px 50px 20px;
}

/*--PRICING SECTIONS---*/
#pricing
{
  padding: 100px;
}
.pricing-text
{
  font-size: 3.5rem;
  line-height:1.5;
  font-size:45px;
}
.pricing-heading
{
  font-size:large;
}
.pricing-column
{
padding: 3% 2%;
}

/*--FOOTER SECTIONS---*/

.social-margin{
  margin:5% 1% 0 1%;

}

@media(max-width:1028px)
{
  #title
  {
    text-align: center;
  }
  .title-image
  {
    position: static;
    transform: rotate(0);
    margin-top: 15px;
  }
}


